<div
	class="image-animate"
	data-image-animate
	data-frame-count="{{ image.frame_count }}"
	data-frame-size="{{ image.frame_size }}"
	data-height="{{ image.height }}"
	data-width="{{ image.width }}"
	data-frame="0"
	>
	<img srcset="{{ image.srcset }}" />
</div>
